<div class="max-w-2xl mx-auto mt-10 bg-white p-6 rounded-xl shadow">
  <h1 class="text-2xl font-bold mb-6 text-gray-700">Ajukan SPT</h1>
  <p>{{ form_spt.errors }}</p>

  <form action="{% url 'spt_index' %}" method="post" id="formSPT" class="space-y-4">
   
    {% csrf_token %}
    <!-- Judul -->
    <div>
    
      <label class="block text-sm font-medium text-gray-600">Judul</label>
      <input
        type="text"
        name="judul"
        class="w-full mt-1 px-3 py-2 border rounded-lg focus:ring focus:ring-blue-200 outline-none"
        value="{{ form_spt.judul.value|default:''}}"
        placeholder="Masukkan judul SPT"
      />
      
    </div>

    <!-- Tujuan -->
    <div>
      <label class="block text-sm font-medium text-gray-600">Tujuan</label>
      <input
        type="text"
        name="deskripsi"
        class="w-full mt-1 px-3 py-2 border rounded-lg focus:ring focus:ring-blue-200 outline-none"
        placeholder="Tujuan perjalanan"
        value="{{ form_spt.deskripsi.value|default:''}}"
      />
    </div>

    

    <!-- Tanggal -->
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-medium text-gray-600"
          >Tanggal Mulai</label
        >
        <input
          type="date"
          name="tanggal_mulai"
          class="w-full mt-1 px-3 py-2 border rounded-lg focus:ring focus:ring-blue-200 outline-none"
          value="{{ form_spt.tanggal_mulai.value }}"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-600"
          >Tanggal Selesai</label
        >
        <input
          type="date"
          name="tanggal_selesai"
          value="{{ form_spt.tanggal_selesai.value }}"
          class="w-full mt-1 px-3 py-2 border rounded-lg focus:ring focus:ring-blue-200 outline-none"
        />
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600">
        Lampiran (PDF / Gambar)
      </label>

      <input
        type="file"
        name="lampiran"
        id="lampiran"
        accept=".pdf,image/*"
        class="w-full mt-1 px-3 py-2 border rounded-lg bg-white cursor-pointer file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
      />

      <p class="text-xs text-gray-400 mt-1">Maksimal 2MB (PDF/JPG/PNG)</p>
    </div>

    <!-- Keterangan -->
    <div>
      <label class="block text-sm font-medium text-gray-600">Keterangan</label>
      <textarea
        name="keterangan"
        class="w-full mt-1 px-3 py-2 border rounded-lg focus:ring focus:ring-blue-200 outline-none"
        rows="3"
        placeholder="Tambahkan keterangan"
      ></textarea>
    </div>

    <!-- Button -->
    <div class="pt-4">
      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition"
      >
        Ajukan SPT
      </button>
    </div>
  </form>
</div>

<!-- JS Submit -->
<!-- <script>
  const form = document.getElementById("formSPT");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    const payload = {
      judul: formData.get("judul"),
      tujuan: formData.get("tujuan"),
      tempat_tujuan: formData.get("tempat_tujuan"),
      tanggal_berangkat: formData.get("tanggal_berangkat"),
      tanggal_kembali: formData.get("tanggal_kembali"),
      keterangan: formData.get("keterangan"),
    };

    console.log("Payload:", payload);

    // kirim ke backend Django
    /*
      await fetch("/api/spt/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
      });
      */

    alert("SPT berhasil diajukan!");
  });
</script> -->