{% extends "layouts/base.html" %} 

{% block content %}
<section class="flex flex-col gap-4 pb-6">

<div class="bg-white p-6 rounded-2xl shadow border border-slate-200">
    {% include "core/components/cards/header.html" with title='Detail' %}

    <!-- catatan -->
    <div>
        <h2 class="text-lg font-semibold text-slate-700">
            Catatan
        </h2>
        <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 rounded-lg">
            {% if disposisi.catatan %}
            <p class="text-gray-800 whitespace-pre-line">{{ disposisi.catatan }}</p>
            {% else %}
            <p class="text-gray-400 italic">Tidak ada catatan</p>
            {% endif %}
        </div>
    </div>
    <div class="my-4 flex flex-col justify-center items-start gap-4">
        {% if request.user.profile.is_kasubag and disposisi.status == STATUS_DISPOSISI.INSTRUKSI %}
        <a href="{% url 'spt:spt_web:create_spt' disposisi.id %}"
            class="px-4 py-2 text-sm bg-blue-600 text-white rounded-lg hover:bg-blue-700">
            Buat SPT
        </a>
        {% endif %}

    </div>

</div>
<!-- spt -->
 {% if request.user.profile.is_pimpinan %}
    {% include 'spt/spt/partials/_spt_card.html' %}
 {% endif %}

</section>


{% endblock %}