{% extends "layouts/base.html" %} 

{% block navbar %}
{% endblock %}

{% block content %}
<div class="flex h-screen bg-gray-100">
    
<!-- SIDEBAR PEGAWAI -->
  {% include "pages/pegawai/partials/sidebar.html" %}

  <!-- MAIN CONTENT -->
  <main class="flex-1 p-6">
      <h2 class="text-2xl font-bold text-gray-800">Profile</h2>
      <p class="mt-3"></p>
      <!-- <p class="text-gray-600">Selamat datang di sistem SPT</p> -->
      {% include "pages/pegawai/partials/profile-form.html" %}

  </main>

</div>

{% endblock %}


