{% extends "layouts/base.html" %} 

{% block head %}
    {% include "components/scripts/csrf.html" %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="flex h-fit bg-gray-100">
    
<!-- SIDEBAR PEGAWAI -->
  {% include "partials/sidebar.html" %}


<div class="bg-white rounded-xl shadow p-6 mx-auto w-full max-w-2xl">

  


  <div class="max-w-2xl mx-auto mt-0">
    
  {% url "core_ajukan_spt" as action_url %}

  {% include "spt/permohonan/partials/form-permohonan-spt.html" with action_url=action_url naxt_url="core_spt_saya" %}
</div>
  
</div>


</div>

{% endblock %}