{% extends "layouts/base.html" %} 



{% block content %}

     
      
      <div class="p-0 bg-gray-100 min-h-screen">
  <div class="max-w-5xl mx-auto bg-white rounded-2xl shadow p-6 space-y-6">
    <!-- Header -->
    <div class="flex justify-between items-center border-b pb-4">
      <div>
        <h1 class="text-2xl font-bold text-gray-800">
          {{ judul_halaman|default:"Detail Permohonan" }}
          
        </h1>
        <!-- <p class="text-sm text-gray-500">Nomor: {{ spt.nomor_spt }}</p> -->
      </div>

      <!-- Status -->
      <span
        class="px-4 py-2 text-sm rounded-full bg-yellow-100 text-yellow-700"
      >
        {{ permohonan.status }}
      </span>
    </div>

    <!-- Informasi Utama -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- <div>
        <p class="text-sm text-gray-500">No. SPT</p>
        <p class="font-semibold text-gray-800">{{ spt.nomor_spt }}</p>
      </div> -->

      <div>
        <p class="text-sm text-gray-500">Judul</p>
        <p class="font-semibold text-gray-800">{{ permohonan.judul }}</p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Tanggal Mulai</p>
        <p class="font-semibold text-gray-800">
          {{ permohonan.tanggal_mulai|date:"d F Y" }}
        </p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Tanggal Pengajuan</p>
        <p class="font-semibold text-gray-800">
          {{ permohonan.created_at|date:"d F Y" }}
        </p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Tanggal Selesai</p>
        <p class="font-semibold text-gray-800">
          {{ permohonan.tanggal_selesai|date:"d F Y" }}
        </p>
      </div>

      {% if permohonan.dibuat_oleh %}
      <div>
        <p class="text-sm text-gray-500">Diajukan Oleh</p>
        <p class="font-semibold text-gray-800">
            {{ permohonan.dibuat_oleh.profile.nama|upper }} 
            
        </p>
      </div>
      {% endif %}
    </div>

    <!-- Lampiran -->
    {% if daftar_lampiran %}
    <div>
      <h2 class="text-lg font-semibold text-gray-800 mb-2">Lampiran</h2>

      {% for lampiran in daftar_lampiran %}
      <div class="bg-gray-50 p-4 rounded-lg flex justify-between items-center">
        <span class="text-gray-700"
          >{{ forloop.counter }}. {{ lampiran.file.name|cut:'lampiran_spt/'}}</span
        >
        <a href="{{ lampiran.file.url }}" class="text-blue-600 hover:underline"
          >Download</a
        >
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- buat disposisi -->
    {% if is_pimpinan and permohonan.status == "permohonan_diajukan" %}
    <div x-data="buatDisposisi()">

        {% include "core/components/forms/button3.html" with label="Buat Disposisi" attrs='x-on:click="openFormDisposisi()" x-show="!isFormDisposisiOpen"' %}


        
        <template x-if="isFormDisposisiOpen">
            {% include "workflow/disposisi/forms/create.html" with cancel_url_name="permohonan:permohonan_web:detail" cancel_id=permohonan.id %}
        </template>
    </div>
    <script>
        function buatDisposisi() {
            return {
                isFormDisposisiOpen: false,

                openFormDisposisi() {
                    this.isFormDisposisiOpen = true
                },
                closeFormDisposisi() {
                    this.isFormDisposisiOpen = false
                }
            }
        }
    </script>
    {% endif %}
    <!-- end buat disposisi -->

    {% if spt.status == 'ditolak_kasubbag' or spt.status == 'ditolak_pimpinan' or spt.status == 'revisi_kasubbag' %}
    <!-- catatan dari kasubag -->
    <div>
      <h2 class="text-lg font-semibold text-gray-800 mb-2">Catatan</h2>

      <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 rounded-lg">
        {% if spt.catatan %}
        <p class="text-gray-800 whitespace-pre-line">{{ spt.catatan }}</p>
        {% else %}
        <p class="text-gray-400 italic">Tidak ada catatan</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <!-- Download dokumen spt -->
    {% if spt.status == 'disetujui_final' or spt.status == 'selesai' %}
    <div>
      <h2 class="text-lg font-semibold text-gray-800 mb-2">
        Download Dokumen SPT
      </h2>
      <div class="bg-gray-50 p-4 rounded-lg space-y-2">
        <p class="text-sm text-gray-600">Dokumen SPT</p>
        <a
          target="_blank"
          href="{% url 'spt_preview' spt.id %}"
          class="text-blue-600 hover:underline"
          >Cetak</a
        >
      </div>
    </div>
    {% endif %}

    <!-- Aksi -->
    {% if spt.status == 'draft' or spt.status == 'revisi_kasubbag' or spt.status == 'DRAFT' %}
    <div class="flex flex-wrap gap-3 pt-4 border-t">
      <a href="{% url 'core_edit_revisi' spt.id %}">
        <button
          class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600"
        >
          Edit
        </button>
      </a>

      {% if spt.status == 'draft' %}
      
      <a
        onclick="return confirm('apakah anda yakin?');"
        href="{% url 'core_kirim_pengajuan' spt.id %}"
      >
        <button
          class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700"
        >
          Kirim Permohonan SPT
        </button>
      </a>
      
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>



{% endblock %}