<section x-data="">
<div 
  x-data='buttonComponent({
      tipe: "{{ tipe|default:"button" }}",
      label: "{{ label|default:"" }}",
      variant: "{{ variant|default:"default" }}",
      url: "{{ url|default:"" }}",
      url_next: "{{ url_next|default:"" }}",
      
      disabled: {{ disabled|yesno:"true,false" }},
      event: "{{ event|default:"" }}",
      payload: {{ payload|default:"{}"|safe }}
  })'
>
  <button
    @click="handleClick"
    :type="tipe"
    :disabled="loading"
    class="flex flex-row items-center gap-2 px-5 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700"
    :class="buttonClass"
  >
    <span x-show="!loading"> {{ label }}</span>
    {% include "components/spinner.html" %}
    <span x-show="loading"> Loading ... </span>
  </button>
</div>

</section>

<script>
  function buttonComponent(props = {}) {
    return {
      // state
      tipe: props.tipe || 'button',
      label: props.label || '',
      variant: props.variant || 'default',
      url: props.url || '',
      url_next: props.url_next || '',
      disabled: props.disabled || false,
      event: props.event || '',
      payload: props.payload || {},
      
      // computed
        get buttonClass() {
            const variants = {
            create: "bg-green-600 hover:bg-green-700",
            edit: "bg-blue-600 hover:bg-blue-700",
            delete: "bg-red-600 hover:bg-red-700",
            warning: "bg-yellow-500 hover:bg-yellow-600", 
            danger: "bg-red-600 hover:bg-red-700",
            default: "bg-blue-600 hover:bg-gray-700",
            };

            return [
              variants[this.variant],
              {
                  "opacity-50": this.disabled,
                  "cursor-not-allowed": this.disabled,
                  "animate-pulse": this.loading,
              },
            ];
        },

        // methods
        handleClick() {
          // if (this.loading) return;
          
          const url = this.url_next || this.url;
          
          
          const data = {
            label: this.label,
            url: url,
            payload: this.payload,
            
          };
          
          this.$dispatch(this.event, data);
        },
      
    };
  }
</script>