{% load static %}

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surat Perintah Tugas</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-white p-10 text-sm text-black">
    <!-- kop surat -->
    {% include "pdf/components/kop-surat.html" %}

    <!-- TITLE -->
    <div class="text-center mt-6">
      <h3 class="font-bold uppercase underline text-base">
        SURAT PERINTAH TUGAS
      </h3>
      <p class="mt-1">Nomor: {{ spt.nomor_spt }}</p>
    </div>

    <!-- CONTENT -->
    <div class="mt-6 space-y-4">
      <p>
        Berdasarkan {{ spt.deskripsi }}, dengan ini diperintahkan kepada:
      </p>

      <!-- PERSON 1 -->
      <div class="text-sm leading-6">
        <div class="flex">
          <div class="w-6">1.</div>
          <div class="w-28">Nama</div>
          <div class="w-4">:</div>
          <div class="flex-1">{{ spt.dibuat_oleh.profile.nama|upper }}</div>
        </div>

        <div class="flex">
          <div class="w-6"></div>
          <div class="w-28">NIP</div>
          <div class="w-4">:</div>
          <div class="flex-1">{{ spt.dibuat_oleh.profile.nip }}</div>
        </div>

        <div class="flex">
          <div class="w-6"></div>
          <div class="w-28">Jabatan</div>
          <div class="w-4">:</div>
          <div class="flex-1">{{ spt.dibuat_oleh.profile.jabatan|title }}</div>
        </div>
      </div>

      

      <!-- DETAILS -->
      <div class="grid grid-cols-[200px_10px_1fr] mt-4">
        
        <div>2. Maksud Perjalanan Dinas</div>
        <div>:</div>
        <div>{{ spt.judul }}</div>
        <div>3. Berangkat tanggal</div>
        <div>:</div>
        <div>{{ spt.tanggal_mulai|date:"d F Y" }}</div>
        <div>4. Kembali tanggal</div>
        <div>:</div>
        <div>{{ spt.tanggal_selesai|date:"d F Y" }}</div>
        <div>5. Lamanya</div>
        <div>:</div>
        <div>{{ selisih }} hari</div>
      </div>

      <p class="mt-4">
        Demikian surat perintah tugas ini diberikan untuk dipergunakan
        sebagaimana mestinya.
      </p>
    </div>

    <!-- SIGNATURE -->
    <div class="mt-10 flex justify-end">
      <div class="text-left">
        <p>Satui, 7 Desember 2025</p>
        <p class="font-semibold">{{ pimpinan.jabatan|upper }}</p>

        <div class="text-center mt-6">
          <img src="{{ pimpinan.ttd.url }}" alt="ttd" class="h-32 mx-auto" />
        </div>

        <p class="font-bold underline">{{ pimpinan.nama|upper }}</p>
        <p>Pimpinan</p>
        <p>NIP. {{ pimpinan.nip }}</p>
      </div>
    </div>
    <script>
    window.onload = function() {
        window.print();
    }
</script>
  </body>
</html>
