<div class="bg-white rounded-xl shadow p-6">

  <!-- Header -->
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold text-gray-800">Laporan Perjalanan Dinas</h2>

    
  </div>

  <!-- Filter -->
  <div class="flex flex-wrap gap-3 mb-4">

    <input type="text"
           placeholder="Cari SPT..."
           class="border rounded-lg px-3 py-2 text-sm w-64 focus:outline-none focus:ring-2 focus:ring-blue-400">

    <select class="border rounded-lg px-3 py-2 text-sm">
      <option>Semua Status</option>
      <option>Draft</option>
      <option>Review</option>
      <option>Disetujui</option>
      <option>Ditolak</option>
      <option>Selesai</option>
    </select>

    <input type="date"
           class="border rounded-lg px-3 py-2 text-sm">

  </div>

  <!-- Table -->
  <div class="overflow-x-auto">

    <table class="min-w-full text-sm text-left">

      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th class="px-4 py-3">No</th>
          <th class="px-4 py-3">No. SPT</th>
          <th class="px-4 py-3">Pembuat</th>
          <th class="px-4 py-3 text-center">Aksi</th>
        </tr>
      </thead>

      <tbody class="divide-y">

        <!-- Row 1 -->
         {% for laporan in laporan_list %}
        <tr class="hover:bg-gray-50">
          <td class="px-4 py-3">{{ forloop.counter }}</td>
          <td class="px-4 py-3">{{ laporan.spt.nomor_spt }}</td>
          <td class="px-4 py-3">{{ laporan.spt.dibuat_oleh.profile.nama }}</td>

          

          

          <td class="px-4 py-3 text-center space-x-2">

            <a href="{% url 'core_pimpinan_laporan_detail_pimpinan' laporan.id %}"
               class="text-blue-600 hover:underline text-sm">
              Detail
            </a>

            

          </td>
        </tr>
        {% endfor %}
        

      </tbody>
    </table>

  </div>
</div>