<div class="mb-4">

    <label class="block text-sm font-medium mb-1">
        {{ field.label }}
    </label>

    <input
        type="text"
        name="{{ field.name }}"
        value="{{ field.value|default:'' }}"
        class="w-full rounded-xl border p-3 ring-1 ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500"
        x-on:input="validate()"
        data-id="nama"
    >

    {% if field.errors %}
        <p class="text-red-500 text-sm mt-1">
            {{ field.errors.0 }}
        </p>
    {% endif %}

</div>